.DS_Store
Resources
build.log
build
npm-debug.log
tmp
.map
.project
.settings
Thumbs.db
extensions/appc-sample-ti500/appc-sample-ti500.xcodeproj/xcuserdata
extensions/appc-sample-ti500/appc-sample-ti500.xcodeproj/project.xcworkspace